[Unit]
Description=Temperature Service
After=multi-user.target

[Service]
WorkingDirectory=/opt/envs-logger
User=pi
Type=idle
ExecStart=/usr/bin/python /opt/envs-logger/main.py &> /dev/null
Restart=always

[Install]
WantedBy=multi-user.target
