SENSOR_LOCATION_NAME = "Greenhouse Area #1"
BUCKET_NAME = "Temp/Hum"
BUCKET_KEY = "dht22sensor"
ACCESS_KEY = YOUR_API_KEY
MINUTES_BETWEEN_READS = 5
METRIC_UNITS = False
LOG_LOCATION = '/opt/envs-logger/envs.log'
