# General settings
SENSOR_LOCATION_NAME = 'Greenhouse Area #1'
MINUTES_BETWEEN_READS = 5

# Program logging settings. 
PROGRAM_LOG_FILE_ENABLED = True
LOG_LOCATION = '/opt/envs-logger/envs.log'

# Database settings
INFLUXDB_IP = ''
INFLUXDB_PORT = ''
INFLUXDB_USER = ''
INFLUXDB_PASS = ''
INFLUXDB_DB = ''